.shipmen_logo {
    max-width: 100px; 
    max-height: 40px; 
    display: block; 
    margin: auto; 
    padding-top: 15px;
}

.shipment_logo_ex {
    max-width: 150px; 
    max-height: 40px; 
    display: block; 
    padding-top: 15px;
}

#shipment_button {
    text-align: center; 
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

#carrier_list {
    margin: 10px 0px 10px 0px;
    width: 100%;
}

.shipment_list {
    width: 100%;
}

.emissary_carrier_logo {
    display: inline-block !important;
    max-width: 30px !important;
}

#down_label {
    margin: 10px;
}

#download_label {
    text-align: center;
}

.tablecontent.emissary-settings h2 {
    display: none;
}

#block_design span {
    padding: 0px 5px 0px 5px;
    width: auto;
    display: inline-block;
    position: relative;
    float: left;
}

.tablecontent.emissary-settings a {
    color: #ea7601;
}

#pic0, #pic1, #pic2, #pic3, #pic4{
    display: none;
    position: relative;
    float: left;
}

.status_image {
    max-height: 20px;
    display: none;
}

#optain_ship > h4 {
    text-align: center;
    display: none;
}

.bold {
    font-weight: bold;
}